[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/miloyip/rapidjson.git
	branch = master
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "twine"]
	path = twine
	url = ../twine.git
[submodule "third-party/link"]
	path = third-party/link
	url = https://github.com/Ableton/link.git
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "third-party/vst3sdk"]
	path = third-party/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "third-party/oscpack"]
	path = third-party/oscpack
	url = https://github.com/ENTTEC/oscpack.git
[submodule "third-party/vcpkg"]
	path = third-party/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "rpc_interface/protos"]
	path = rpc_interface/protos
	url = ../sushi-grpc-api
