[submodule "third-party/EASTL"]
	path = third-party/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "third-party/liblo"]
	path = third-party/liblo
	url = git://github.com/radarsat1/liblo.git
[submodule "vst3_pluginterfaces"]
	path = third-party/vstsdk3/pluginterfaces
	url = git://github.com/steinbergmedia/vst3_pluginterfaces.git
[submodule "vst3_cmake"]
	path = third-party/vstsdk3/cmake
	url = git://github.com/steinbergmedia/vst3_cmake.git
[submodule "vst3_base"]
	path = third-party/vstsdk3/base
	url = git://github.com/steinbergmedia/vst3_base.git
[submodule "vst3_public_sdk"]
	path = third-party/vstsdk3/public.sdk
	url = git://github.com/steinbergmedia/vst3_public_sdk.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/miloyip/rapidjson.git
	branch = master
